<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <title>Projet Forum</title>
    </head>

    <body>
        {% block header %}
            {% include 'navbar.html.twig' %}
        {% endblock %}
        {% block body %}
        {% endblock %}
    </body>

</html>