<!DOCTYPE html>
<html lang="fr">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <title>Projet Forum</title>
    </head>

    <body>
        <div class="container_fluid">
            {% block header %}
                {% include 'navbar.html.twig' %}
            {% endblock %}
            {% block body %}
            {% endblock %}
        </div>
        <script src="assets/js/jQuery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    </body>


</html>